<%= form_for(mybudget) do |f| %>
  <% if mybudget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mybudget.errors.count, "error") %> prohibited this mybudget from being saved:</h2>

      <ul>
      <% mybudget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budgetname %>
    <%= f.text_field :budgetname %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
