<p id="notice"><%= notice %></p>

<h1>Mybudgets</h1>

<table>
  <thead>
    <tr>
      <th>Budgetname</th>
      <th>Amount</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mybudgets.each do |mybudget| %>
      <tr>
        <td><%= mybudget.budgetname %></td>
        <td><%= mybudget.amount %></td>
        <td><%= mybudget.year %></td>
        <td><%= link_to 'Show', mybudget %></td>
        <td><%= link_to 'Edit', edit_mybudget_path(mybudget) %></td>
        <td><%= link_to 'Destroy', mybudget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mybudget', new_mybudget_path %>
